.beer-list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.65);
  width: 98%;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

.beer-img {
  height: auto;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.item-p {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -8px;
}

.beer-metrics > p {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -8px;
  text-align: center;
}
