#form-header {
  font-size: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

#beer-search-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 900px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.65);
}

label {
  font-size: 22px;
  margin-left: 10px;
}

input, select {
  font-size: 20px;  
  margin-left: 10px;
  margin-right: 10px;
}

#beer-abv, #beer-ibu {
  width: 75px;
}

.beer-search-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px; 
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100px;
}

#form-error {
  color: red;
  position: absolute;
  width: 500px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  font-size: 24px;
  text-align: center;
}
